# for runtime
boto
boto3
google_auth
google-api-python-client
gcs-oauth2-boto-plugin
packaging
pandas
six >= 1.13.0
htcondor >= 8.9.11

# for tests
mock
pytest
pytest-cov >= 2.11.1
tabulate
pyyaml
sphinx_rtd_theme
