# for runtime
boto
boto3
google_auth
google-api-python-client
gcs-oauth2-boto-plugin
packaging
pandas
six >= 1.13.0

# commented out until we drop python2 support
## classad ##

# for tests
mock
pytest
tabulate
pyyaml
